#myCanvas{
    border-style: solid;
    border-width: 3px;
    display: block;
    margin: 0 auto;
}

#buttonsLeft{
  
position: absolute;
top: 20%;
left: 0;
  
}
#buttonsRight{  
    position: absolute;
    top: 20%;
    right: 0;
    
}

.ButtonGroup > div {
    width: 50px;
    height: 20px;
    line-height: 20px;
    background-image: url("./assets/sprites/flecha_izq.png");
    overflow: hidden;
    cursor: pointer;
}

#L1{
    transform: rotate(90deg);
}




