#myCanvas{
    border-style: solid;
    border-width: 3px;
    display: block;
    margin: 0 auto;
}

#buttonsLeft{
  
    position: absolute;
    top: 11%;
    left: 0;
  
}
#buttonsRight{  
    position: absolute;
    top: 11%;
    right: 0;
    
}

.ButtonGroup > div {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    line-height: 20px;
    background-image: url("./assets/sprites/arrow.png");
    overflow: hidden;
    cursor: pointer;
}

#F1, #B2{
   transform: rotate(90deg);
}
#R1 , #L2{
    transform: rotate(180deg);
}
#B1 , #F2{
    transform: rotate(270deg);
}



